@tailwind base;
@tailwind components;
@tailwind utilities;

.textshadow{
    text-shadow: 2px 2px #292929;
}



html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
